﻿<body>
<h1 align="center"> LESOscope - виртуальный осциллограф </h1>
<center><img src=":/main_icons/leso4.2.png" width="100" height="100"></img></center>
<h2 align="center"> www.labfor.ru </h2>
<h3>Исходный код программы можно получить по адресу: https://bitbucket.org/iRyaz/leso4osc</h3>
<h3>Автор: Ilya Ryazanov (ryasanov@gmail.com)</h3>
<h3>Используемые в программе компоненты:</h3>
<ul>
<li> <h3> QCustomPlot - библиотека визуализации данных (http://www.qcustomplot.com/) </h3></li>
<li> <h3> Qt - кросс-платформенный фраймворк для создания графический интерфейсов (http://www.qt.io/) </h3></li>
<li> <h3> leso4_api - библиотека реализующая высокоуровневый API для взаимодействия с осциллографом LESO4 (https://bitbucket.org/iRyaz/leso4_api) </h3></li>
<li> <h3> spline.h - библиотека содержащая класс для расчета сплайнов (Tino Kluge (ttk448 at gmail.com)) </h3></li>
<li> <h3> fftw - библиотека функций БПФ  (http://www.fftw.org/) </h3></li>
</ul>
</body>
