<body>
<h1 align="center"> LESOscope - virtual oscilloscope </h1>
<center><img src=":/main_icons/leso4.2.png" width="100" height="100"></img></center>
<h2 align="center"> www.labfor.ru </h2>
<h3> Get program source code from: https://bitbucket.org/iRyaz/leso4osc </h3>
<h3> Author: Ilya Ryazanov (ryasanov@gmail.com) </h3>
<h3> Using Component list: </h3>
<ul>
<li> <h3>QCustomPlot - QCustomPlot is a Qt C++ widget for plotting and data visualization (http://www.qcustomplot.com/)</h3></li>
<li> <h3>Qt - cross-platform development framework (http://www.qt.io/)</h3></li>
<li> <h3>leso4_api - library for work device LESO4.1 oscilloscop (https://bitbucket.org/iRyaz/leso4_api)</h3></li>
<li> <h3> spline.h - spline math library (Tino Kluge (ttk448 at gmail.com)) </h3></li>
<li> <h3> fftw - library for computing the discrete FAST Fourier transform (http://www.fftw.org/)</h3> </li>
</ul>
</body>
